@{

    Layout = "User_Layout";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="path-to-your-tailwind-css-file" rel="stylesheet">
    <title>Your Website</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css">

</head>

<div class="relative h-96 min-h-0 bg-cover bg-center w-full" style="background-image: url('/images/bg_4.jpg');">
    <!-- Overlay for better text visibility -->
    <div class="absolute inset-0 bg-black opacity-20"></div>

    <div class="absolute inset-0 flex items-center justify-center">
        <div class="text-center text-white">
            <h1 class="text-5xl font-bold ">@ViewBag.ThongTin.ChaoMung</h1>
            <p class="text-lg mt-4">@ViewBag.ThongTin.MoTa</p>
            <!-- Add more content as needed -->
        </div>
    </div>
</div>


<div class="container mx-auto p-8">
    <!-- Your main content elements -->
    <!-- Add your main content here -->
</div>




</html>
<style>
    main {
        margin-top: 80px; 
        padding: 0px;
        margin-right: 0px;
        margin-left: 0px;
    }
</style>
