@{

    Layout = "User_Layout";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Nguyen Duong The Vi</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="TemplateMo">
    <title>First Portfolio Bootstrap 5 Theme</title>
</head>




<div class="relative">
    <div class="space-y-2 pb-8 pt-6 md:space-y-5">
        <div class="py-5 sm:text-left">
            <h1 class="mb-4 text-3xl sm:text-4xl tracking-tight text-slate-900 font-extrabold dark:text-slate-200 bg-gradient-to-br from-sky-500 to-cyan-400 bg-clip-text text-transparent">Tạo bài viết</h1>
        </div>
        <div role="alert" style="margin: 20px">
            <div class="bg-red-500 text-white font-bold rounded-t px-4 py-2">
                Chú ý
            </div>
            <div class="border border-t-0 border-red-400 rounded-b bg-red-100 px-4 py-3 text-red-700">
                <p>
                    Vui lòng đọc kĩ quy định trước khi tạo
                </p>
            </div>
        </div>
        <div class="p-6 space-y-6">
            <form asp-action="ChinhSuaTaiKhoan" method="post">
                <div class="grid grid-cols-6 gap-6">
                    <div class="col-span-full" class="form-group">
                        <label >Tiêu đề</label>
                        <input class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-cyan-600 focus:border-cyan-600 block w-full p-2.5" placeholder="Sinh viên.....”" required="">
                    </div>
                    <div class="col-span-full" class="form-group">
                        <label >Tóm tắt</label>
                        <input class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-cyan-600 focus:border-cyan-600 block w-full p-2.5" placeholder="1" required="">
                    </div>

                    <div class="col-span-full" class="form-group">
                        <label>Tags (Nhấn Ctrl để chọn nhiều Tag) </label>
                        <select asp-items="@(new SelectList(ViewBag.Categories, "IDCATEGORY", "TITLE"))" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-cyan-600 focus:border-cyan-600 block w-full p-2.5" multiple></select>
                    </div>
                   
                   
                    
                    <div class="col-span-full">
                        <label >Nội dung</label>
                       
                        <textarea  rows="6" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-cyan-600 focus:border-cyan-600 block w-full p-4" name="CONTEXT" id="CONTEXT"></textarea>
                    </div>
                </div>
               
                <div class="p-6 border-t border-gray-200 rounded-b">
                    <button class="text-white bg-cyan-600 hover:bg-cyan-700 focus:ring-4 focus:ring-cyan-200 font-medium rounded-lg text-sm px-5 py-2.5 text-center" type="submit">Save all</button>
                </div>

            </form>
        </div>
    </div>

</div>



</html>
@section DoanJS {
    <script>
        CKEDITOR.replace('CONTEXT')
    </script>

}
