@model Post
{
    Layout = "Admin_Layout";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Management</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>



<h1 class="text-2xl font-bold mb-4">Tạo bài đăng</h1>


<form asp-action="TaoBaiDang" method="post">
    <div class="form-group">
        <label asp-for="TITLE"></label>
        <input asp-for="TITLE" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="AUTHOR"></label>
        <input asp-for="AUTHOR" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="SUMMARY"></label>
        <input asp-for="SUMMARY" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="CONTEXT"></label>
        <input asp-for="CONTEXT" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="PUBLISHED"></label>
        <input asp-for="PUBLISHED" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="VIEW"></label>
        <input asp-for="VIEW" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="LIKE"></label>
        <input asp-for="LIKE" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="PostCategories"></label>
        <select asp-for="PostCategories" asp-items="@(new SelectList(ViewBag.Categories, "IDCATEGORY", "TITLE"))" class="form-control" multiple></select>
    </div>
    <button type="submit" class="btn btn-primary">Create</button>
</form>





</html>

